<launch>
    <include file="$(find freenect_launch)/launch/freenect.launch" >
        <arg name="depth_registration" value="true"/>
    <include/>
    <include file="$(find darknet_ros)/launch/darknet_ros_jetson_nano.launch" />
    <node name="detected_person_manager" pkg="vision_tools" type="detected_person_manager.py"/>
    <include file="$(mediapipe_track)/launch/body_pose_and_points.launch" />
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find base_system)/rviz.rviz" />
</launch>