<launch>
    <include file="$(find freenect_launch)/launch/freenect.launch" >
        <arg name="depth_registration" value="true"/>
    </include>
    <include file="$(find mediapipe_track)/launch/body_pose_and_points.launch" />
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find base_system)/rviz.rviz" />
</launch>