<launch>

    <group ns="voice">
        <!-- <include file="$(find base_system)/launch/voice_emotion.launch"/> -->
        <include file="$(find base_system)/launch/voice_stt.launch"/>
        <include file="$(find base_system)/launch/voice_tts.launch"/>

        <remap from="question" to="stt/whispered"/>
        <remap from="answer" to="tts/robot_speech"/>
        <include file="$(find nlu_ros)/launch/question_answerer.launch"/>
    </group>

</launch>