<launch>

    <!-- Node from utbots_nlu with venv_utbots_nlu -->
    <node name="rasa_interface_node" pkg="utbots_nlu" type="rasa_interface_node.py" output="log">
        <env name="VIRTUAL_ENV" value="/usr/bin/venv_utbots_nlu"/>
        <env name="PATH" value="/usr/bin/venv_utbots_nlu/bin:/usr/bin:/bin"/>
    </node>

    <!-- Node from tasks_manager with venv_utbots_tasks -->
    <node name="smach_answer_questions" pkg="task_manager" type="smach_answer_questions.py" output="log">
        <env name="VIRTUAL_ENV" value="/usr/bin/venv_utbots_tasks"/>
        <env name="PATH" value="/usr/bin/venv_utbots_tasks/bin:/usr/bin:/bin"/>
    </node>

    <!-- Launch file to stt -->
    <include file="$(find whisper_cpp_ros)/launch/utbots_stt.launch" />

    <!-- Node from utbots_tts -->
    <node name="ros_tts_mimic" pkg="utbots_tts" type="ros_tts_mimic.py" />
    
</launch>
