<launch>
    <include file="$(find base_system)/launch/navigation.launch" />
    <include file="$(find base_system)/launch/poseandpoints_kinectjetson.launch" />
    <include file="$(find base_system)/launch/voice_emotion.launch" />
    <node pkg="task_manager" type="follow_human.py" name="follow_human_node"/>
</launch>
