<launch>
    <include file="$(find whisper_cpp_ros)/launch/utbots_stt.launch"/>
    <include file="$(find utbots_tts)/launch/tts_mimic.launch"/>
    <node name="rasa_interface_node" pkg="utbots_nlu" type="rasa_interface_node.py" output="screen"/>
    <include file="$(find display_emotions)/launch/display_emotions.launch" />
    <include file="$(find freenect_launch)/launch/freenect.launch" />
    <node name="yolov8server" pkg="yolov8ros" type="yolov8server.py" output="screen"/>
</launch>