<launch>

    <!-- Node from utbots_nlu with venv_utbots_nlu -->
    
    <node name="llama_node" pkg="utbots_llama" type="llama_node.py" output="log">
        <env name="VIRTUAL_ENV" value="/home/ehg2004/llama_ws/.python38"/>
        <env name="PATH" value="/home/ehg2004/llama_ws/.python38/bin:/usr/bin:/bin"/>
    </node>

    <!-- Node from tasks_manager with venv_utbots_tasks -->
    
    <node name="smach_answer_questions" pkg="task_manager" type="sm_llama.py" output="log">
        <env name="VIRTUAL_ENV" value="/home/ehg2004/llama_ws/.python38"/>
        <env name="PATH" value="/home/ehg2004/llama_ws/.python38/bin:/usr/bin:/bin"/>
    </node>

    <!-- Launch file to stt -->
    <!-- <include file="$(find whisper_cpp_ros)/launch/utbots_stt.launch" /> -->

    <!-- Node from utbots_tts -->
    <!-- <node name="ros_tts_mimic" pkg="utbots_tts" type="ros_tts_mimic.py" /> -->
    
</launch>
