<launch>
    <include file="$(find utbots_face_recognition)/launch/face_recognition.launch" />
    <include file="$(find base_system)/launch/voice_stt.launch"/>
    <include file="$(find base_system)/launch/voice_tts.launch"/>
    <node pkg="nlu_ros" type="nlu_node.py" name="nlu_node" output="screen">
        <param name = "/people"       value = "true" />   
        <param name = "/commands"     value = "true" />
    </node>
    <node pkg="task_manager" type="party_host.py" name="party_host_mgr" output="screen" args=""/>
</launch>
