<launch>
    <include file="$(find base_system)/launch/voice_stt.launch"/>
    <include file="$(find base_system)/launch/voice_tts.launch"/>
    <node pkg="utbots_face_recognition" type="recognize.py" name="recognize" output="screen"/>
    <node pkg="nlu_ros" type="nlu_node.py" name="nlu_node" output="screen">
        <param name = "/people"       value = "true" />   
        <param name = "/commands"     value = "true" />
    </node>
    <node pkg="utbots_face_recognition" type="receptionist.py" name="receptionist_sm" output="screen" args=""/>
</launch>
